.group:after {
}

.ttt {
  width: 600px;
}

ul {
  /*content: "";
  display: table;
  clear: both;*/
  display: block;
  width: 500px;
  white-space: nowrap;
}

li {
  float: left;
  display: block;
  width: 200px;
  height: 200px;
  border: 10px;
  border-color: black;
  background-color: gray;
}

.yellow {
  background-color: yellow;
}
