html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

body {
  font-family: Papyrus, fantasy;
  background-color: #C9A94B;
}

h1 {
  text-align: center;
  font-size: 135px;
  margin: 0;
}

.ttt {
  width: 600px;
  margin: auto;
}



ul {
  list-style-position:inside;
  display: block;
  width: 480px;
  white-space: nowrap;
  border: 5px solid black;
  margin: auto;
  background: #EDE398 none;
}

li {
  /*box-sizing: border-box;*/
  float: left;
  display: block;
  width: 150px;
  height: 150px;
  border: 5px solid black;
  margin: auto;
}

li:hover {
  background-color: yellow;
}

.not_selected {
  background-color: #C9A94B;
}

.selected_x:after {
  content: "x";
  color: red;
}

.selected_x:after, .selected_o:after {
  font-size: 200px;
  display: block;
  width: 100%;
  line-height: 160px;
  text-align: center;
}

.selected_o:after {
  content: "o";
  color: green;

}

figcaption {
  font-size: 100px;
  text-align: center;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
