.group:after {
}

.ttt {
  width: 600px;
}

ul {
  /*content: "";
  display: table;
  clear: both;*/
  list-style-position:inside;
  display: block;
  width: 500px;
  white-space: nowrap;
}

li {
  box-sizing: border-box;
  float: left;
  display: block;
  width: 200px;
  height: 200px;
  border: 10px solid black;
}

li:hover {
  background-color: yellow;
}

.not_selected {
  background-color: gray;
}

.selected_x:before {
  background-color: white;
  content: "x";
  font-size: 48;
  color: red;
}

.selected_o:before {
  background-color: white;
  content: "o";
  font-size: 48;
  color: green;
}
